In [24]:
import pandas as pd
import numpy as np
from datetime import datetime
from pre_processing.db_tools import *

In [32]:
timestamp_format = "%Y-%m-%d %H:%M:%S"
PERIOD_SECONDS = 4 * 3600

In [8]:
sepsis_admissions = pd.read_sql("select * from sepsis_admissions_data", connection)
sepsis_admissions

               admittime  hadm_id
0    2166-08-10 00:28:00   185910
1    2198-08-02 04:49:00   145674
2    2198-11-01 22:36:00   122609
3    2122-12-13 19:30:00   142807
4    2128-03-17 17:11:00   160481
...                  ...      ...
4132 2188-10-18 02:00:00   134977
4133 2143-08-22 16:01:00   186754
4134 2127-06-10 19:22:00   168288
4135 2127-10-21 12:43:00   153703
4136 2125-02-22 22:18:00   141860

[4137 rows x 2 columns]

In [4]:
sepsis_inputevents_mv = pd.read_sql("select * from sepsis_inputevents_mv", connection)
sepsis_inputevents_mv

,hadm_id,starttime,endtime,itemid,amount,amountuom,rate,rateuom,orderid,linkorderid
0,166019,2178-04-23 16:47:00,2178-04-24 01:01:00,225942,2.479999,mg,301.214412,mcg/hour,7686797,7686797
1,166019,2178-04-23 16:47:00,2178-04-24 01:01:00,225943,49.600001,ml,6.024292,mL/hour,7686797,7686797
2,166019,2178-04-20 15:25:00,2178-04-20 20:50:00,225942,2.499999,mg,461.538366,mcg/hour,7687717,7687717
3,166019,2178-04-20 15:25:00,2178-04-20 20:50:00,225943,50.000002,ml,9.230770,mL/hour,7687717,7687717
4,178140,2152-05-02 08:08:00,2152-05-02 08:09:00,220949,200.000000,ml,NaN,None,788410,788410
...,...,...,...,...,...,...,...,...,...,...
700905,166019,2178-04-20 04:36:00,2178-04-20 09:58:00,225943,49.999999,ml,9.316770,mL/hour,7539016,7539016
700906,166019,2178-04-16 20:32:00,2178-04-16 20:33:00,225855,1.000000,dose,NaN,None,7570233,7570233
700907,166019,2178-04-16 20:32:00,2178-04-16 20:33:00,220949,50.000000,ml,NaN,None,7570233,7570233
700908,166019,2178-04-16 18:34:00,2178-04-16 21:03:00,222168,862.500089,mg,65.186838,mcg/kg/min,7652382,669855
700909,166019,2178-04-16 18:34:00,2178-04-16 21:03:00,225943,86.250013,ml,34.731549,mL/hour,7652382,669855

In [12]:
item_ids = pd.read_sql("select itemid, label from d_items", connection)
item_ids

       itemid                                        label
0         497  Patient controlled analgesia (PCA) [Inject]
1         498                            PCA Lockout (Min)
2         499                               PCA Medication
3         500                               PCA Total Dose
4         501                           PCV Exh Vt (Obser)
...       ...                                          ...
12482  226757                        GCSMotorApacheIIValue
12483  226758                       GCSVerbalApacheIIValue
12484  226759                            HCO3ApacheIIValue
12485  226760                                    HCO3Score
12486  226761                      HematocritApacheIIScore

[12487 rows x 2 columns]

## Clean data

## Vasopressin

Get Vasopressin intake in four-hour chunks

In [98]:
vasopressin_ids = np.array([1136, 2445, 30051, 222315])
vasopressin_events = sepsis_inputevents_mv.loc[sepsis_inputevents_mv['itemid'].isin(vasopressin_ids)]
vasopressin_events

,hadm_id,starttime,endtime,itemid,amount,amountuom,rate,rateuom,orderid,linkorderid
99,170225,2105-04-30 07:43:00,2105-04-30 20:30:00,222315,30.686589,units,2.400515,units/hour,5677917,4342388
239,138598,2175-05-05 10:24:00,2175-05-05 19:42:00,222315,22.319999,units,2.400000,units/hour,3151116,3151116
502,132488,2150-07-10 10:43:00,2150-07-12 04:03:00,222315,99.999996,units,2.419355,units/hour,8139223,8139223
690,176834,2187-08-22 06:36:00,2187-08-23 07:15:00,222315,88.720113,units,3.599193,units/hour,2227782,2227782
736,176834,2187-08-25 18:09:00,2187-08-26 06:50:00,222315,30.439999,units,2.400000,units/hour,4815294,4815294
...,...,...,...,...,...,...,...,...,...,...
698807,127431,2195-07-17 04:21:00,2195-07-18 22:00:00,222315,99.959998,units,2.400000,units/hour,9227493,9227493
699872,166088,2149-07-03 23:15:00,2149-07-04 17:06:00,222315,42.839999,units,2.400000,units/hour,4772268,4772268
700044,167226,2170-06-17 10:45:00,2170-06-17 22:23:00,222315,13.960000,units,1.200000,units/hour,230104,230104
700253,143269,2122-05-31 00:00:00,2122-05-31 03:30:00,222315,8.400000,units,2.400000,units/hour,2567771,2567771
700312,146668,2200-08-04 15:30:00,2200-08-05 04:04:00,222315,30.159999,units,2.400000,units/hour,4460131,4460131

In [99]:
for index, row in sepsis_admissions.iterrows():
    start_time = sepsis_admissions['admittime'][sepsis_admissions['hadm_id'] == row['hadm_id']].array
    assert len(start_time) == 1
    vasopressin_events.loc[vasopressin_events['hadm_id'] == row['hadm_id'], 'starttime'] = \
        vasopressin_events.loc[vasopressin_events['hadm_id'] == row['hadm_id'], 'starttime'] - start_time[0]

/home/ian/miniconda3/envs/treatment_recommender/lib/python3.7/site-packages/pandas/core/indexing.py:965: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

TypeError: unsupported operand type(s) for -: 'numpy.ndarray' and 'Timestamp'

In [96]:
vasopressin_events

,hadm_id,starttime,endtime,itemid,amount,amountuom,rate,rateuom,orderid,linkorderid
99,170225,2105-04-30 07:43:00,2105-04-30 20:30:00,222315,30.686589,units,2.400515,units/hour,5677917,4342388
239,138598,2175-05-05 10:24:00,2175-05-05 19:42:00,222315,22.319999,units,2.400000,units/hour,3151116,3151116
502,132488,2150-07-10 10:43:00,2150-07-12 04:03:00,222315,99.999996,units,2.419355,units/hour,8139223,8139223
690,176834,2187-08-22 06:36:00,2187-08-23 07:15:00,222315,88.720113,units,3.599193,units/hour,2227782,2227782
736,176834,2187-08-25 18:09:00,2187-08-26 06:50:00,222315,30.439999,units,2.400000,units/hour,4815294,4815294
...,...,...,...,...,...,...,...,...,...,...
698807,127431,2195-07-17 04:21:00,2195-07-18 22:00:00,222315,99.959998,units,2.400000,units/hour,9227493,9227493
699872,166088,2149-07-03 23:15:00,2149-07-04 17:06:00,222315,42.839999,units,2.400000,units/hour,4772268,4772268
700044,167226,2170-06-17 10:45:00,2170-06-17 22:23:00,222315,13.960000,units,1.200000,units/hour,230104,230104
700253,143269,2122-05-31 00:00:00,2122-05-31 03:30:00,222315,8.400000,units,2.400000,units/hour,2567771,2567771
700312,146668,2200-08-04 15:30:00,2200-08-05 04:04:00,222315,30.159999,units,2.400000,units/hour,4460131,4460131

In [90]:
individual_vasopressin = vasopressin_events.loc[vasopressin_events['hadm_id'] == 170225]
individual_vasopressin

,hadm_id,starttime,endtime,itemid,amount,amountuom,rate,rateuom,orderid,linkorderid
99,170225,2105-04-30 07:43:00,2105-04-30 20:30:00,222315,30.686589,units,2.400515,units/hour,5677917,4342388
10046,170225,2105-04-30 02:00:00,2105-04-30 07:43:00,222315,6.860000,units,1.200000,units/hour,4342388,4342388

In [91]:
start_time = sepsis_admissions.loc[sepsis_admissions['hadm_id'] == 170225, 'admittime']
assert len(start_time) == 1
start_time.array[0]

Timestamp('2105-04-22 17:12:00')

In [94]:
individual_vasopressin.loc[:, 'starttime'] = individual_vasopressin.loc[:, 'starttime'] - start_time.array[0]

/home/ian/miniconda3/envs/treatment_recommender/lib/python3.7/site-packages/pandas/core/indexing.py:965: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s